body{
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}
header{
    background-color: #dfdcdc;
    display: flex;
    width:  100%;
    align-items: center;
    justify-content: center;
}
#nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;

}
#phone{
    padding-right: .2em;
}
#nav li{
    justify-content: space-between;
    list-style: none;
}
a:link{
    text-decoration: none;
}
#nav a{
    justify-content: space-between;
    margin: 7px;
    text-align: center;
    
}
#nav a:visited{
    color: black;
}
#nav li:hover{
    background-color: black;
}
#nav a:hover{
    color: white;
    
}
main{
    width: 100%;
}
#assault{
    width:  100%;
    display: flex; 
    margin: auto;
    justify-content: center;
}
.division1{
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}
.division1 p{
    margin-right: 20px;
    max-width: 350px;
}
#dwd{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
section{
    display: flex;
}
.moma{
    justify-content: center;
    width: 100vw 1080px;
    align-items: center;
}
hr{
    border-bottom: soild 2px black;
    width: 30%;
}
h2{
    font-size: 40px;
    color: gray;
}
.right{
    text-align: end;
}
footer{
    display: flex;
    justify-content: space-between;
}
footer div{
    width: 100vw 100%;
    display: flex;
    align-items: center;
}
footer p{
    margin: 10px;
}
footer a{
    margin: 10px;
}

.bouton{
    background-color: cyan;
    color: #ee4fcb;
    font-size: 16px;
    padding: 15px 32px;
    border-radius: 8px;
    border: 2px solid black;
    transition-duration: 0.4s;
}
.bouton:hover{
    color: cyan;
    background-color: #ee4fcb;
}
html{
    scroll-behavior: smooth;
}
@media screen and (max-width: 415px) {
    #nav {
        width: 100%;
        flex-direction: column;
    }
    nav{
        width: 100%;
    }
    #nav ul{
        width: 100%;
    }
    header{

        background-color: rgba(255, 255, 255, 0);
    }
    #nav li{
        text-align: center;
        width: 100%;
        margin: .3em 0 .3em 0;
        background-color: #c4c4c4;
        color: white;
    }
    img{
        max-width: 100%;
    }
    #assault{
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .division1{
        margin: 20px 0;
    }
    .division1 p{
    margin: 0 auto;
    padding: 0 0 1em 0;
    }
    .moma{
        flex-direction: column;
        text-align: center;
    }
    h2{
        font-size: 35px;
    }
    .right{
        text-align: center;
    }
    .moma img{
        order: -1;

    }
    .moma img{
        max-width: 70%;
    }
    footer{
        margin-top: 50px;
    }
}